@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Exo+2&family=Freckle+Face&family=Pangolin&display=swap');
* {
    box-sizing: border-box;
    font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
.main{
    display:flex;
    width: 1200px;
    margin: auto;
    gap:30px;
}
.members__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aside__tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.members__list a{
    width:fit-content;

}

.header{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
.header__content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__content h1{
    margin: 0;
}
.header__content img{
    width: 50px;
    height: fit-content;
}
.header__content button{
    background-color: green;
    color: white;
    box-shadow: 3px 3px 1px black;
    height: 30px;
    width:fit-content;
    
}
.header__content button:hover{
    cursor: pointer;
}
.root{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header__content input{
    border-radius: 9px;
    font-size: 15px;
}
.header__profile{
    display: flex;
    gap:10px;
}
.aside__profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header__options{
    display: flex;
    gap:10px;
}
.search{
    display: flex;
    gap: 10px;
}

.header table{
    width: 100%;
    border-bottom: solid 2px black;
}
.aside{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.question__paging{
    display: flex;
    gap:20px;
}
.question__paging a{
    border: solid 2px grey;
    text-decoration: none;
    width: fit-content;
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 3px 3px 1px black;
}

.like{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: red;
    background-color: transparent;
    border: none;
}
.like:hover{
    cursor: pointer;
    
}

.logo{
    font-size: 35px;
    text-decoration: none;
    color: black;
}