.question{
    display: flex;
    flex-direction: column;
    width:70%;
    gap:30px;
}
.question__header{
    display: flex;
    align-items: center;
    gap: 20px;
}

.question__header h2{
    margin: 0;
}

img{
    width:25px;
    height: 25px;
}

.aside{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.question__list{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.question__block{
    display: flex;
    border: solid 4px black;
    padding: 15px;
}
.question__block h3{
    margin: 0;
}
.question__aside{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question__list{
    width: 80%;
}

.question__aside input{
    width: 50px;
}
.question__aside img{
    width: 70px;
    height: fit-content;
}

.question__footer{
    display: flex;
    gap: 30px;
}

.tags__list{
    display: flex;
    gap:10px;   
}

.members__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.error{
    color: red;
}