@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Exo+2&family=Freckle+Face&family=Pangolin&display=swap');
* {
    box-sizing: border-box;
    font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
.main{
    display:flex;
    width: 1200px;
    margin: auto;
    gap:30px;
}

.settings{
    width:70%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:20px;
}
img{
    width:25px;
    height: 25px;
}
.login + .email + .nickname{
    display: flex;
}
.avatar{
    display: flex;
}
.avatar__input{
    display: flex;
    flex-direction: column ;
}
.settings input{
    position: absolute;
    left: 100px;
}
.settings img{
    position: absolute;
    left: 100px;
    top: 200px;
    height: 100px;
    width: fit-content;
}
.settings button{
    position: absolute;
    top: 300px;
}
.settings h2{
    margin: 0;
}
.aside{
    width: 30%;
    display: flex;
    flex-direction: column;
}


.members__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aside__tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.members__list a{
    width:fit-content;

}

.header{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
.header__content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__content h1{
    margin: 0;
}
.header__content img{
    width: 50px;
    height: fit-content;
}
button{
    background-color: green;
    color: white;
    box-shadow: 3px 3px 1px black;
    height: 30px;
    width:fit-content;
    
}
button:hover{
    cursor: pointer;
}
.root{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header__content input{
    border-radius: 9px;
    font-size: 15px;
}
.header__profile{
    display: flex;
    gap:10px;
}
.aside__profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header__options{
    display: flex;
    gap:10px;
}
.search{
    display: flex;
    gap: 10px;
}

.header table{
    width: 100%;
    border-bottom: solid 2px black;
}
.error{
    color: red;
}