<div class="aside">
    <div class="tags">
        <h2>Popular Tags</h2>
        <div class="aside__tags">
            {%for tag in popular_tags%}
                <a href = "{% url 'tags' q_tag=tag%}">{{tag}}</a>
            {%endfor%}
           
        </div>
    </div>
    <div class="best_members">
        <h2>Best Members</h2>
        <div class="members__list">
            {%for member in best_members%}
                <a href = #>{{member}}</a>
            {%endfor%}
        </div>
    </div>
</div>