{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block style %}{% endblock%}
</head>
<body class="root">
    <header class="header">
        <div class="header__content">
        <h1>AskPupkin</h1>
        <div class="search">
            <input>
        <button>ASK!</button>
        </div>
        
        <div class="header__profile">
            {% if user.is_authentificated %}
            <img alt = img src = "{% static '/img/avatar.jpg' %}">
            <div class="aside__profile">
                <span>Dr.Pepper</span>
                <div class="header__options">
                    <a href="{% url 'settings'%}">setting</a>
                    <a href="{% url 'logout'%}">log out</a>
                </div>
            </div>
            {% else %}
            <div class="aside__profile">
                <div class="header__options">
                    <a href="{% url 'login'%}">login</a>
                    <a href="{% url 'register'%}">sign up</a>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
        
        <table><tr><td></td></tr></table>
    </header>
    <main class="main">
        {% block content %} {% endblock %}
    </main>
</body>
</html>