{%extends 'base.html' %}
{%load static%}
{%block style%}
<link rel="stylesheet" href="{% static 'css/ask.css' %}">
{%endblock%}
{% block content %}
    <div class="question">
        <h2>New Question</h2>
        <form class = "new__question">
            <div class="question__title">
                <label>Title</label>
                <input>
            </div>
            <div class="question__text">
                <label>Text</label>
                <textarea></textarea>
            </div>
            <question class="question__tags">
                <label>Tags</label>
                <input>
            </question>
            <button>ASK!</button>
        </form>   
    </div>
    {%include 'aside_tags.html'%}
{%endblock%}