{% extends 'base.html'%}
{% load static  %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    
    <div class="question">
        <h2>
            New Questions
            <span><a href="#">Hot Questions</a></span>
        </h2>
        <div class="question__list">
            {%for question in page_obj%}
                {%include 'questionBlock.html'%}
            {%endfor%}
        </div>
        {%include 'paginator.html' %}
    </div>
    {% include 'aside_tags.html' %}

{% endblock %}
{% include 'questionBlock.html' %}